# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo

# ----------------------
# Virtual Environments
# ----------------------
.env
.venv
venv/
env/
nanodet-env/
nanodet-env-backup/

# ----------------------
# Build / Packaging
# ----------------------
build/
dist/
*.egg-info/

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# OS / IDE
# ----------------------
.DS_Store
.vscode/
.idea/

# ----------------------
# Model Weights
# ----------------------
*.ckpt
*.pth

# ----------------------
# NanoDet specific
# ----------------------
workspace/

# ----------------------
# Misc
# ----------------------
*.pkl